@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');



body {
    background-color:lemonchiffon;
    font-size: 22px;
    font-family: 'Arvo', 'Verdana';
    
}

.index-body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px 16px;
}

.main-menu-list {
    font-size: 26px;
    font-family: 'Open Sans', Helvetica;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex: 1;  
}

.main-menu-list a {
    text-decoration: none;
    color:darkgreen;
}
/* Added a margin to links */
.margin-link {
    margin: 0.5rem;
}

/* Added auto width and height and margin to align box-model to center */
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-family: 'Barrio', 'Verdana';
    margin:auto;
    padding: 22px;
}

.main-site-header {
    display: flex;
    text-align: center;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-family: 'Barrio', 'Verdana';
    width: 100%;
}

.site-header a {
    text-decoration: none;
    color: white;
    border: solid;
    padding: 22px;
}

.header-home {
    align-self: center;
}

.header-title {
    align-self: center;
    justify-self: center;
}

.index-title {
    align-self: center;
    justify-self:center;
    flex-grow: 1;
}

.recipe-flex-item {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: peachpuff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 450px;
}

.main-menu-list img {
 width: 400px;
 height: 400px;
}

.footer-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:tomato;
    padding: 15px;
}

.footer-flex-container a {
    text-decoration: none;
    color: darkturquoise;
}

/* Added a margin to align with recipe container */
img {
    margin: 1rem;
    
}
/* Added margin and padding */
.recipe-container {
    background-color:wheat;
    text-align: left;
    margin: 1rem;
}

.original-recipe-link{
    text-align: center;
}

.original-recipe-link a{
    text-decoration: none;
}

/* Could use a class for recipe-headings */
h3, h4 {
    font-family: 'Open Sans', Helvetica;
}

@media (max-width: 650px) {

    body{
        font-size: 1rem;
    }

    .index-body{
        overflow:visible;
    }
    
    .main-menu-list{
        flex-wrap: wrap;
        font-size: 1.2rem;
    }

    ul img {
        width: 200px;
        height: 200px;
       }
}