@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');



body {
    background-color:lemonchiffon;
    font-size: 22px;
    font-family: 'Arvo', 'Verdana';
}

/* Added a margin to links */
.margin-link {
    margin: 0.5rem;
}

/* Added auto width and height and margin to align box-model to center */
.site-header {
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Barrio', 'Verdana';
    width: auto;
    height: fit-content;
    margin:auto;
    text-align: center;
}

/* Added Open Sans as font */
.recipe-list {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    gap: 10px;
    flex: 1 1 auto;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-size: 26px;
    font-family: 'Open Sans', Helvetica;
}

.recipe-flex-item {
    display: flex;
    flex-direction: column;
    background-color: peachpuff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex: 1 1 auto;
    width: 300px;
    height: 450px;
}

.recipe-list img {
 display: block;
 margin: auto;
 width:100%;
 height: 300px;
}

.footer-flex-container {
    display: flex;
    width: auto;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
    color:tomato;
    padding: 15px;
}

/* Added a margin to aligh with recipe container */
img {
    margin: 1rem;
    
}
/* Added margin and padding */
.recipe-container {
    background-color:wheat;
    text-align: left;
    margin: 1rem;
}

/* Could use a class for recipe-headings */
h3, h4 {
    font-family: 'Open Sans', Helvetica;
}