@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');



body {
    background-color:lemonchiffon;
    font-size: 22px;
    font-family: 'Arvo', 'Verdana';
    
}

.index-body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px 16px;
}

.main-menu-list {
    font-size: 26px;
    font-family: 'Open Sans', Helvetica;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex: 1;  
}

.main-menu-list a {
    text-decoration: none;
    color:darkgreen;
}
/* Added a margin to links */
.margin-link {
    margin: 0.5rem;
}

/* Added auto width and height and margin to align box-model to center */
.site-header {
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Barrio', 'Verdana';
    margin:auto;
    padding: 22px;
}
.recipe-flex-item {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: peachpuff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 450px;
}

.main-menu-list img {
 display: block;
 margin:auto;
 width:100%;
 height: 300px;
}

.footer-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:tomato;
    padding: 15px;
}

.footer-flex-container a {
    text-decoration: none;
    color: darkturquoise;
}

/* Added a margin to aligh with recipe container */
img {
    margin: 1rem;
    
}
/* Added margin and padding */
.recipe-container {
    background-color:wheat;
    text-align: left;
    margin: 1rem;
}

/* Could use a class for recipe-headings */
h3, h4 {
    font-family: 'Open Sans', Helvetica;
}