@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');



body {
    background-color:lemonchiffon;
    font-size: 22px;
    font-family: 'Montaga', 'Verdana';
}

.site-header {
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Barrio', 'Verdana';
}

.recipe-list {
    margin-top: 3.5rem;
    position: static;
    color: orange;
    font-size: 26px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;}

.footer-text {
    text-align: center;
    margin-top: 3.5rem;
}

.recipe-container {
    background-color:wheat;
    text-align: left;
}